#findme{

    padding-top: 1rem;
    padding-bottom: 1rem;

}

#home{
    padding-top: 4rem;
    
}
  
#arrow{
    
    padding-top: 5rem;
}

#about{

    padding-top: 5rem;

}

#portofolio{

    padding-top: 6rem;
    padding-bottom: 5rem;
}
