#findme{

    padding-top: 1rem;
    padding-bottom: 1rem;

}

#skills {
    margin-top: 6rem;
  }
  .bubbleend {
    position: relative;
    left: 60%;
    top: 5%;
    transform: rotate(50deg);
  }
  #skills .bubble {
    position: relative;
    width: 100px;
    height: 100px;
    left: -15%;
    border-radius: 50%;
    background: #343A40; 
  }
  #skills h2 {
    margin-bottom: 2rem;
    font-weight: 700;
  }
  .main-skills {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all .6s ease;
    /* margin-top: 2rem; */
    background: #343A40;
    margin-bottom: 5rem;
  }
  .skill1 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }
  .skill1::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: orange;
    border-radius: 12px;
  }
  .skill1:hover::before {
    opacity: 1;
    transition: 0.5s all ease;
    bottom: 0;
    z-index: -1;
  }
  .skill2 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }
  .skill2::before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: #35A7DB;
    border-radius: 12px;
  }
  .skill2:hover::before {
    opacity: 1;
    transition: 0.8s all ease;
    bottom: 0;
    z-index: -1;
  }
  .skill3 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }
  .skill3::before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: #8993BE;
    border-radius: 12px;
  }
  .skill3:hover::before {
    opacity: 1;
    transition: 0.8s all ease;
    bottom: 0;
    z-index: -1;
  }

  .skill4 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }  
  .skill4::before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: yellow;
    border-radius: 12px;
  }
  .skill4:hover::before {
    opacity: 1;
    transition: 0.8s all ease;
    bottom: 0;
    z-index: -1;
  }

  .skill5 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }  
  .skill5::before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: blue;
    border-radius: 12px;
  }
  .skill5:hover::before {
    opacity: 1;
    transition: 0.8s all ease;
    bottom: 0;
    z-index: -1;
  }

  .skill6 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }  
  .skill6::before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: #F68219;
    border-radius: 12px;
  }
  .skill6:hover::before {
    opacity: 1;
    transition: 0.8s all ease;
    bottom: 0;
    z-index: -1;
  }

  .skill7 {
    /* border: 2px solid white; */
    position: relative;
    z-index: 1;
  }  
  .skill7::before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left:  0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    content: '';
    background: #3670A0;
    border-radius: 12px;
  }
  .skill7:hover::before {
    opacity: 1;
    transition: 0.8s all ease;
    bottom: 0;
    z-index: -1;
  }
  .main-skills .card-skills h6 {
    margin-top: 1rem;
    font-weight: bold;
  }
  .main-skills .card-skills span {
    font-weight: bold;
  }
  

#home{
    padding-top: 4rem;
    
}
  
#arrow{
    
    padding-top: 10rem;
}

#about{

    padding-top: 10rem;

}

#portofolio{

    padding-top: 6rem;
    padding-bottom: 5rem;
}

#portofolio h2 {

    font-weight: 700;
}

#findme a:hover {

  border: none;
  background-image: linear-gradient(to right top, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
  border-radius: 12px;
}

.arrow {
  text-align: center;
  margin-top: 20px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
